{% extends "layout.twig" %}

{% block content %}

<div class="canvas bk-pt-default">

<header>
    <ul class="headerborder">
       <li class="color1"></li>
       <li class="color2"></li>
       <li class="color3"></li>
    </ul>
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "Smart Inc."})|raw}}
        </div>
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>
</header>

<div class="pageintro">
    <div class="wrapper">
        <h4>{{ page.title }}</h4>
    </div>
</div>

<div class="main wrapper clearfix">
    {{zone('main')|raw}}
</div>

<ul class="headerborder">
   <li class="color1"></li>
   <li class="color2"></li>
   <li class="color3"></li>
</ul>
<footer>
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-three-33-34-33">
            <div class="column columns-three-left">
                {{widget('logo', 'footercolumn1logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'footercolumn1companyname', {"business": "Smart Inc."})|raw}}
            </div>
            <div class="column columns-three-middle">
                {{widget('content', 'footercolumn2content1', {"content":"<h4>IPSUMS</h4>"})|raw}}
                {{widget('profile', 'footercolumn2profileaddress', { 'profileType':'address', 'address':'profile'})|raw}}
            </div>
            <div class="column columns-three-right">
                {{widget('content', 'footercolumn3content1', {"content":"<h4>CONTACTO</h4>"})|raw}}
                {{widget('profile', 'footercolumn3profileEmail', { 'profileType':'email', 'email':'profile'})|raw}}
                {{widget('profile', 'footercolumn3profilePhone', { 'profileType':'phone', 'phone':'profile'})|raw}}
            </div>
        </div>
    </div>
</footer>

</div>

{% endblock %}
